// import bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~material-icons/iconfont/material-icons";
@font-face {
  font-family: 'PingFang';
  src: url('PingFang Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: PingFang, serif
}
